{% extends "default.html" %}
{% block title %}Sign Up | Echo Tracker{% endblock %}
{% block content %}
    <main>
        <h1>Create an App</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="stacked-form" method="post">
            <input type="text" name="name" placeholder="App Name">
            <button type="submit">Create</button>
        </form>
    </main>
{% endblock %}